
.container{
    margin-bottom: 100px;
}
/* slide */
.slidein-bg{
    background-color: #FEEAE9;
    border-radius: 8px;   
}
.carousel-item{
    padding: 10px 20px;
}
.carousel-item h2{
    color: #C6005B;
    font-size: 40px;
}
.carousel-item .bay-naw{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}
/* categories */

.categories img{
    width: 100px;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: #FF136F;
}
.cat3{
    background-color: blue;
}
.card-footer{
    background-color: transparent;
    border: none;
}
.card-footer button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;   

}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
